@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "VT323", monospace;
}


body{ 
    background-color: #0D1117;
}



ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    background-color: #313030;
}


.bonus
    {
        display: flex; 
        border: rgba(0, 0, 0, 0.801) 2px solid;
        border-radius: 15px;
        height: 45px;
        width: 75px;
        margin: 6px
    }

    .bonus > li {
        font-size: 17px;
    }

    .bonus:hover {
        background-color: rgba(0, 0, 0, 0.589);
        color: white;
        transition: 0.3s;
    }

.direita {
    display: flex;
    gap: 10px; 
  }

.config-icon {
    position: fixed;
    top: 15px;
    right: 70px;
    font-size: 24px;
    cursor: pointer;
}

.config-box {
    position: fixed ;
    right: -6%;
    top: 16%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #303030;
    border: 2px solid rgba(0, 0, 0, 0.589);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 1000;
   

    
}
.config-box > h1 {
        color: #a244c7;
        text-align: center;
        font-size: 25px;
    }

    .config-box > button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #a244c7;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
    }


    .config-box > button:hover {
        background-color: #641a81c4;
        transition: 0.3s;
    }


    .config-fonte {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        
    }

    .config-fonte > button {
        background-color: #a244c7;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 24px;
        overflow: hidden;
    }    


    .fonte {
        width: 100%;
        padding: 7px;
        border: none;
        border-radius: 8px;
        background-color: #faf8f8;
        font-size: 18px;
        margin: 5px;
    }


.rotating-image {
    transition: transform 0.9s ease;
    overflow-x: hidden; 
}

.fullscreen{

    transition: transform 0.5s ease, opacity 0.5s ease; 
    cursor: pointer; 
    margin: 15px;

}

:fullscreen .fullscreen {
    transform: scale(1.2);
    opacity: 0.8; 
}

:fullscreen {
    width: 100%;
    height: 100%;
    background-color: #303030; 
    display: flex;
    flex-direction: column;
}


li {
    display: inline-flex;
    margin: 10px;
    font-size: 20px;
    overflow: hidden;
    
}
main {
    display: grid;
    place-items: center;
    height: 100vh;
    padding-bottom: 60px;
    background-color: #303030;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 60px;
   
}

.contador {
    border: rgba(0, 0, 0, 0.589) 2px solid;
    border-radius: 15px;    
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #000000;
    margin: 10px;
    background-color: rgb(200, 200, 200);
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2); 

} 

.titulo {
    color: #b69ec0c0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.quantidade {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 25px;
    color: #b5a2bd;
    margin: 15px;
    

}

#dificuldade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 25px;
    color: #b5a2bd;
  
}

.perguntas{
  border: rgba(0, 0, 0, 0.589) 2px solid;
  color: #a244c7;
  border-radius: 15px;
  text-align: justify;
  justify-content: center;
  margin: 25px;
  margin-bottom: 80px;
  padding: 30px;
  font-size: 30px;
 
}


.respostas {
    display: grid;
    grid-template-columns: 2fr 2fr;
    overflow: hidden;
    margin-bottom: auto;
    width: 90%;
   
}

.respostas > button {
    background-color: rgba(200, 200, 200, 0.753);
    padding: 70px;
    margin: 15px;
    font-size: 25px;
    color: black;
    border-radius: 15px;
    border-style: none;
    border-color:#30363D;
    box-shadow: 1px 2px 5px 1px;
    cursor: pointer;

    
}

.respostas > button:hover {
    background-color:rgba(200, 200, 200, 0.507);
    color: #641a81c4;
    transition: 0.3s;
}

#quiz-container {
  display: block;
}
#resultado-container {
  display: none;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #1d1d1d3d;
    color: white;
    font-size: 20px;
}